@charset "UTF-8";
/*Configuração geral do corpo da página8 */

body {
  margin: 0 auto;
  font-family: "Century Gothic", sans-serif;
}

/*Cabeçalho*/

header {
  height: 170px;
  background-color: #008fb6da;
}
header img {
  float: left;
  height: 150px;
  width: 150px;
  margin: 10px;
}
